.navbar-inverse {
    background-color: black;
    border-color: #080808;
    height: 10px;
}

.fa{
    color: white;
    margin: 2px;
}

.nav{
    margin: 2px;
    
}

.navbar-inverse .navbar-right{
    margin: 15px;
}
small{
    color: white;
}
pl{
    margin: 11px;
}
.nav .btn-default{
    margin-top: 9px;
    border-radius: 20px;
    width: 120px;
    border-color: #5db442;
    background-color: white;
  
}
a{
    color: black;

}
.navbar-brand{
    color: #636666;
}

.Bring{
    padding: 40px 50px;
  text-align: center;
    background-color: #4ca368;
    
}
.Bring h1{
    color: black;
}
.Bring p{
    color: #0d2615;
}

img{
     width: 500px;
    margin: auto;
}
form{
    width: 400px;
      margin: auto;
    
}
 input[type=text]{
	
    height: 30px;
     width: 210px;
    text-align-last: center;
      border-radius: 15px 0px 0px 15px;
     border: 2px solid #009688;
    }
.btn-default {
    margin-top: 9px;
    border-radius: 0px 15px 15px 0px;
    width: 80px;
    border-color: #5db442;
    margin-left: -5px;
    background-color: #37804e;
}
.Bring h3{
    color: aliceblue;
}
.community{
    background-color: #ececec;
    padding-top: 10px;
}
.community h1{
    font-size: 50px;
    padding-bottom: 10px;
}
.community .container{
    width: 800px;
    height: 260px;
    background-color: white;
    padding-top: 12px;
}
.community .container h2{
    font-size: 35px;
    color: #5db442;
}

.community .container .fa{
    width: 25px;
    height: 25px;
    color: black;
    font-size: 30px;
   
}
